//img.scss

//hero-section image
.hero-section-primary {
    background-image: url('../../assets/hero_bg01.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 100px;
}

.hero-section-primary2 {
    background-image: url('../../assets/hero_bg02.jpeg');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 100px;
}

.hero-section-primary3 {
    background-image: url('../../assets/hero-bg03.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 100px;
}

.hero-section-primary4 {
    position: relative;
    background-image: url('../../assets/hero_bg04.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 100px;
    z-index: 0;

    .overlay1 {
        position: absolute;
        inset: 0;
        z-index: 1;

        @media (min-width: 0px) and (max-width: 991.98px) {
            background: rgba($dark, 0.8);
        }

        @media (min-width: 992px) {
            background: rgba($dark, 0.5);
        }
    }

    .overlay2 {
        @media (min-width: 992px) {
            position: absolute;
            inset: 0;
            background: $primary;
            z-index: 1;
            clip-path: polygon(0 0, 40% 0, 60% 100%, 0% 100%);

        }
    }

    .user-avatars {
        .user-image {
            object-fit: cover;
            width: 50px;
            height: 50px;
            border-radius: $border-radius-xxl;
            overflow: hidden;
            margin-left: -10px;
            transition: $transition-base;

            &:hover {
                transform: scale(1.2);
            }
        }

        .user-image:first-child {
            margin-left: 0;
        }

    }

}


//about-section image
.aboutus-section {
    &.wave-bg-1 {
        background-image: url("../../assets/about_bg.svg");
        width: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .aboutus-img {
            position: relative;
            border: 1px solid $primary;
            border-radius: 33% 65% 83% 18% / 73% 55% 46% 27%;
            z-index: 2;
        }

        .custom-border {
            height: 100%;
            width: 100%;
            top: 0%;
            left: 0%;
            border: 1px solid $primary;
            background: transparent;
            border-radius: 100% 48% 25% 125% / 45% 38% 100% 100%;
            z-index: 1;
        }

        .custom-bg {
            height: 100%;
            width: 100%;
            top: 15px;
            right: 15px;
            background-color: rgba($primary, 0.5);
            border-radius: 33% 65% 83% 18% / 73% 55% 46% 27%;
            z-index: 0;
        }
    }
}

.team-section {
    &.wave-bg-2 {
        background-image: url('../../assets/team_bg.svg');
        background-size: cover;
        background-position: center;
        width: 100%;
        padding-top: 100px;

        .img-wrapper {
            width: 100%;
            height: 100%;
            max-width: 120px;
            max-height: 120px;
            object-fit: cover;
            transition: $transition-base;
            box-shadow: $box-shadow-sm;

            @media (min-width: 0) and (max-width: 575.98px) {
                border-radius: $border-radius-lg;
            }

            @media (min-width: 576px) {
                border-radius: $border-radius-xl;
            }

            .overlay {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                background-color: rgba($success, 0.5);
                width: 0;
                height: 0;
                transition: $transition-base;
            }

            .view-user {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                opacity: 0;
                transition: $transition-base;
                padding: 0;
                background-color: transparent;
                border: 0;
                line-height: 1;
            }

            &:hover {
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
                scale: 1.1;

                .overlay {
                    height: 100%;
                    width: 100%;
                    opacity: 1;
                    z-index: 1;
                }

                .view-user {
                    opacity: 1;
                    z-index: 2;
                }
            }
        }
    }
}


.team-info-modal {
    .img-wrapper {
        width: 100%;
        height: 100%;
        max-width: 120px;
        max-height: 120px;
        object-fit: cover;
        box-shadow: $box-shadow-sm;
        border-radius: $border-radius-2xl;
    }
}


.contactus-bg {
    position: relative;
    background-image: url('../../assets/contactus.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    color: $light;

    .overlay {
        position: absolute;
        inset: 0;
        background: rgba($dark, 0.7);
        z-index: 0;
    }

    @media (max-width: 768px) {
        .contactus-bg {
            background-attachment: scroll;
        }
    }
}

.auth-section {
    .auth-img {
        height: 100%;
        width: 100%;
        background-image: url("../../assets/auth_img.jpg");
        background-size: cover;
        background-position: center;
    }
}