.offcanvas {
    .offcanvas-header{
        border-bottom: 1px solid $secondary;
    }
    .offcanvas-body,.offcanvas-bottom-nav {
        transition-duration: $offcanvas-transition-duration;

        .navbar-nav {
            .nav-item {
                .nav-link {
                    font-family: $font-family-base;
                    color: $nav-link-color;
                    font-size: $nav-link-font-size;
                    font-weight: $nav-link-font-weight;

                    &:hover,
                    &:focus,
                    &.active {
                        color: $nav-link-hover-color;

                    }

                    @media (min-width: 0px) and (max-width: 767.98px)  { 
                        border-color: transparent;
                    }
                }
            }
        }
    }
    .offcanvas-footer{
        border-top: 1px solid $secondary;
    }
}